    #about-section {
        background: #e3c5a7;
        position: relative;
    }
    
    .blockabout {
        padding: 20px;
        background: #e3c5a7;
    }
    
    .blockabout-inner {
        padding: 30px;
        border: 1px solid #e3c5a7;
    }
    
    .sosmed-horizontal a i {
        border: 1px solid #070707;
        border-radius: 50%;
        color: #070707;
        display: inline-block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        margin: auto 3px;
        font-size: 15px;
        text-align: center;
        transition: all 0.3s;
    }
    
    .rey-btn {
        border: 2px solid #070707;
        padding: 10px 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 13px;
        font-weight: 700;
        border-radius: 50px;
        transition: all 0.3s;
    }